==================================================================
 KAKO OD TOPODROID IZMJERE NAPRAVITI cSURVEY NACRT
 Jednostavan popis koraka. Idi od vrha prema dnu.
 csurvey komplet v@VERSION@ (@DATE@)
==================================================================

Koristiš ".bat" datoteke koje stoje u ovoj istoj mapi
(!!!Digitalizacija\SurveyScraper5, uz cavedossier naredbe). Brojevi u
nazivu su redoslijed kojim se koriste:

   csurvey_1_pripremi_csx.bat      KORAK 1
   csurvey_2_dovrsi_uvoz.bat       KORAK 2
   csurvey_3_dovrsi_nacrt.bat      KORAK 3
   csurvey_9_oporavi_iz_zipa.bat   KORAK 9 - popravak, nije korak

Koraci su 1, 2 i 3 - tim redom, za svaki objekt. Devetka nije korak nego
popravak: koristi se samo kad je .csx s mobitela pokvaren, i zato stoji
na dnu popisa i na dnu ovih uputa.

Alate koje one pokreću drži mapa csurvey_alati pokraj njih - nju ostavi
gdje jest.

Svaku od njih možeš pokrenuti dvoklikom ili na nju povući datoteke.
Kad završi, ostaje otvoren crni prozor s porukom. PROČITAJ TU PORUKU -
ona kaže je li uspjelo i što dalje. Kad si pročitao, pritisni bilo koju
tipku (ili zatvori prozor).


------------------------------------------------------------------
 ŠTO ZNAČI "POVUCI I PUSTI"
------------------------------------------------------------------
1. Otvori mapu u Exploreru tako da vidiš datoteku.
2. Pokaži mišem na datoteku, pritisni i DRŽI lijevu tipku.
3. Pomakni miš (i dalje držiš) dok nije iznad ikone .bat datoteke.
4. Pusti tipku. .bat se pokreće s tom datotekom.
Možeš prvo označiti više datoteka pa ih povući sve zajedno.


------------------------------------------------------------------
 KORACI
------------------------------------------------------------------

NA MOBITELU (TopoDroid)
  * Nacrtaj skicu.
  * Izvezi JEDAN .csx u mapu tog objekta pod !Za digitalizirat
    (taj .csx sadrži i tlocrt i profil).
  * IZVEZI I PROJEKTNI ZIP svaki put (izbornik Survey > Archive).
    Možda ti nikad neće trebati, ali je tvoja sigurnosna kopija
    (vidi KORAK 9 na dnu).

KORAK 1 - PRIPREMI DATOTEKU (na računalu)
  * Dvoklik na  csurvey_1_pripremi_csx.bat
    Pita te Redni broj objekta iz Speleo baze - onaj iz naziva mape
    SB_<broj>_... Upiši ga i pritisni Enter.
      - više objekata odjednom: brojeve odvoji razmakom (811 908)
      - SVE = obradi sve objekte pod !Za digitalizirat
      - samo Enter = odustani, ništa se ne mijenja
  * Ili, ako ti je lakše: povuci svoj .csx s mobitela na tu ikonu.
  * Nastaje nova datoteka pokraj polazne, naziva koji završava na  _pp
    Primjer:  spilja.csx  ->  spilja_pp.csx
  * Pročitaj retke koji počinju s WARNING - oni kažu koji nacrtani
    simboli neće prijeći u cSurvey.

UVOZ U cSURVEY (ručno)
  * Pokreni cSurvey.
  * Otvori  _pp  datoteku (onu iz KORAKA 1).   <-- otvaraš _pp!
  * cSurvey sam uveze i izračuna.
  * Odaberi  File > Save As  i spremi svoju radnu datoteku. Naziv je
    svejedno. Svejedno je i spremaš li .csz ili .csx.

KORAK 2 - DOVRŠI UVOZ  (NAPRAVI PRIJE NEGO IŠTA NACRTAŠ)
  * Dvoklik na  csurvey_2_dovrsi_uvoz.bat  i upiši Redni broj objekta
    (isto kao u KORAKU 1).
      - ako u mapi objekta ima više .csz/.csx datoteka, ispisat će ih
        numerirano i pitati "Koju datoteku dovršiti?" - upiši broj
      - uz svaku piše i je li već spremljena iz cSurveya ili je još
        s mobitela; dovršava se ona spremljena iz cSurveya
      - ako je u mapi samo jedna, uzima nju i javi koju
      - SVE = sve ponuđene, samo Enter = odustani
  * Ili, ako ti je lakše: povuci datoteku koju si upravo spremio na
    tu ikonu.
  * Nastaje nova datoteka pokraj nje, naziva koji završava na  _lt
    Primjer:  spilja_rad.csz  ->  spilja_rad_lt.csz
  * U cSurveyu OTVORI TU  _lt  DATOTEKU i u njoj crtaj sve dalje.

  ZAŠTO OVAJ KORAK POSTOJI: kad cSurvey uveze linije s mobitela, radi
  ih kao "Straight line", a u tom načinu linije kosine i slične NE
  pokazuju svoje strelice i crtice. KORAK 2 ih prebaci u "Splines", pa
  se grafika vidi. Ako preskočiš KORAK 2 i počneš crtati u datoteci iz
  Save As, te linije ostaju gole - to je greška broj jedan.
  Isti korak ujedno smanji znak ulaza (marker) na veličinu 1 - cSurvey
  ga na tlocrtu uveze prevelikog, pa ga nakon ovoga i tlocrt i profil
  imaju jednako malog.

CRTANJE U cSURVEYU (ručno)
  * U  _lt  datoteci ispravi i dovrši skicu, pa je spremi.
  * NE moraš sam dodavati mjerilo, strelicu sjevera ni dubinu, i ne
    moraš ništa podešavati za ispis - to radi KORAK 3.

KORAK 3 - DOVRŠI NACRT
  * Dvoklik na  csurvey_3_dovrsi_nacrt.bat  i upiši Redni broj objekta
    (isto kao u KORAKU 1).
      - ako u mapi objekta ima više datoteka, pitat će te koju
        dovršavaš; dovršava se ona koja završava na  _lt
      - zatim ispiše ponuđena mjerila i rasporede crteža na stranici
        i pita "Koji raspored?" - Enter uzima prijedlog (1), a broj
        uzima neku od ponuđenih inačica
  * Ili, ako ti je lakše: povuci ispravljenu  _lt  datoteku na tu
    ikonu - tada ništa ne pita, nego uzima prijedlog.
  * Što radi, redom:
      1. u datoteku upiše mjerilo (crtica s brojkama), strelicu
         sjevera, oznaku dubine i sve postavke ispisa (A4),
      2. sam ispiše tlocrt i profil iz cSurveya u PDF, bez dijaloga,
      3. složi oba crteža na sastavnicu objekta.
  * Kad završi, u mapi objekta stoji:
      <ime>_lt_fin.csx      dovršena datoteka za cSurvey
      <ime>_plan.pdf        ispisani tlocrt
      <ime>_profile.pdf     ispisani profil
      <ime>_dimenzije.json  duljine i dubina (za sastavnicu i zapisnik)
      SB_<broj>_nacrt.pdf   GOTOV NACRT - to je konačni proizvod
  * Otvori  SB_<broj>_nacrt.pdf  i provjeri stranicu. Ako ti raspored
    ne odgovara, pokreni KORAK 3 ponovo i odaberi drugi iz izbornika.

  AKO NA RAČUNALU NEMA cSURVEYA: korak stane poslije prve točke i to
  ti napiše. Datoteka  _lt_fin  je već napravljena - otvori je u
  cSurveyu na računalu gdje ga ima, pa File > Print, posebno tlocrt i
  posebno profil, a za pisač odaberi "Microsoft Print to PDF".
  Mjerilo i A4 su već upisani u datoteku - ne diraj ih.


------------------------------------------------------------------
 NASTAVCI U NAZIVU (da ti naziv kaže gdje si)
------------------------------------------------------------------
   (bez nastavka)  sirova datoteka s mobitela
   _pp             PRIPREMLJENA - nju UVOZIŠ u cSurvey
   _recovered      obnovljena iz zipa (KORAK 9)
   _lt             UVEZENA - nju OTVARAŠ I U NJOJ CRTAŠ (KORAK 2)
   _lt_fin         DOVRŠENA za ispis - nju više ne diraš (KORAK 3)

Pravilo u jednoj rečenici:  UVEZI _pp datoteku  ->  CRTAJ U _lt datoteci
->  KORAK 3 napravi ostalo.


------------------------------------------------------------------
 AKO CRNI PROZOR JAVI...
------------------------------------------------------------------
 "OK ... _lt ..."   Uspjeh. Otvori _lt datoteku u cSurveyu i crtaj.

 "BLOCKED"          Dao si csurvey_2_dovrsi_uvoz.bat datoteku koja
                    još nije uvezena u cSurvey (npr. _pp). Prvo je
                    uvezi i spremi (Save As), pa tu spremljenu
                    datoteku odaberi (ili povuci na ikonu).

 "WARNING"          Nije kobno. Obično znači "ovaj nacrtani simbol
                    neće prijeći". Korak je svejedno završio.

 "UPOZORENJE: nema mape SB_<broj>_..."
                    Taj Redni broj nema svoju mapu pod
                    !Za digitalizirat. Provjeri broj ili napravi mapu.

 "ERROR"            Pročitaj rečenicu iza - piše što popraviti
                    (npr. datoteka se ne može pročitati).

Svaki korak možeš ponoviti bez straha; nikad ne mijenja tvoju polaznu
datoteku, nego uvijek radi novu.


------------------------------------------------------------------
 KORAK 9 - POPRAVAK, SAMO AKO JE .csx POKVAREN
------------------------------------------------------------------
Ovo NIJE korak u redoslijedu, nego popravak. Radi ga SAMO ako: .csx
nema, ima 0 bajtova ili se otvori bez skice. Inače ga preskoči i kreni
od KORAKA 1.

  * Dvoklik na  csurvey_9_oporavi_iz_zipa.bat  i upiši Redni broj
    (isto kao u KORAKU 1), ili povuci projektni .zip na tu ikonu.
  * Nastaje  <objekt>_recovered_pp.csx  -> nju uvozi u cSurvey, i
    preskoči KORAK 1 (oporavak ga je već odradio). Dalje normalno:
    Save As, pa KORAK 2, pa KORAK 3.
==================================================================
